Source: vigilo-turbogears
Section: python
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends:
 debhelper (>= 7.0.50~),
 python (>= 2.6.6-3~),
 python-setuptools
Standards-Version: 3.8.4
Homepage: http://www.projet-vigilo.org/
X-Python-Version: >= 2.5

Package: vigilo-turbogears
Architecture: all
Suggests: vigilo-turbogears-doc
Depends: ${misc:Depends}, ${python:Depends}
Description: Vigilo extensions for TurboGears2
 This library provides the Vigilo extensions 
 for TurboGears2.

Package: vigilo-turbogears-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends} ${misc:Depends}
Description: Vigilo extensions for TurboGears2 (documentation)
 This library provides the Vigilo extensions 
 for TurboGears2.
 .
 This package contains documentation about the vigilo-turbogears package.
